* {
  margin: 0;
  box-sizing: border-box;
}

nav {
  color: red;
}

#hero-section {
  color: blue;
}

#our_story-section {
  color: green;
}

#watch-section {
  color: darkred;
}

#expertise-section {
  color: rgb(20, 19, 20);
}

#team-section {
  color: yellowgreen;
}

#contack_client-section {
  color: lightsalmon;
}

footer {
  color: blueviolet;
}
.video-player {
  max-height: 750px;
  position: relative;
  overflow: hidden;
}
.video {
  width: 100%;
}

.table {
  width: 80%;
  margin: 0 auto;
  border-collapse: collapse;
  border-style: hidden;
}
.table td {
  border: 1px solid rgb(192, 188, 188);
}
.table td > h4 {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}
.table td > p {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 8%;
}
.expertisediv {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  padding: 5%;
}
.lorem {
  padding: 10px;
}
.youtube {
  height: 70px;
}
.h4class {
  padding: 20px;
  color: aliceblue;
}

.background {
  background-repeat: no-repeat;

  background-size: cover;
  background-image: url("/pics/bgk-middle.png");
  min-height: 600px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
